# Environment variables
.env
*.env

# Firebase credentials
firebase-service-account.json
kkrf-admin-skd.json


# Dependencies
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
.vercel
.env*.local
